h1{
  letter-spacing:2px;
  font-size: 5rem;
  span:nth-child(1){
    color:#4285F4
  }
  span:nth-child(2) {
    color: #DB4437
  }
  span:nth-child(3) {
    color: #F4B400
  }
  span:nth-child(4) {
    color: #4285F4
  }
  span:nth-child(5) {
    color: #0F9D58
  }
  span:nth-child(6) {
    color: #DB4437
  }
}
